body,html {
    font-family: Arial, sans-serif;
    background-color: purple;
    margin: 0;
    padding:0;
    //text-align: center;
     background-image:url("m1.jpg");
     background-repeat:no-repeat;
    background-size:cover;
    align-items:center;
   justify-content:center;
    display:flex;
    flex-direction:column;
   position:auto;
   height:100%;

    //background-position:center;
}
h1 {
    color:blue;
    font-width:bold;
}
#countdown {
	align-content:center;
	border-radius:4px;
	height:200px;
	width:200px;
   	font-size: 2em;
    	margin-top: 20px;
    	color: red;
    	font-family :helvertican;
	position:relative;
    	background-color:lightblue;
  	-webkit-animation-name:myfirst;
    	-webkit-animation-duration:20s;
 
}
@-webkit-keyframes myfirst
{
	0%{background:blue;}
	20%{background:blue;}
	40%{background:beige;}
	80%{background:green;}
}
